<div class="pages">

	<div data-page="add-monitoring" class="page">

		<div class="navbar">

			<div class="navbar-inner">

				<div class="left">
					<a href="#" class="back link">
						<i class="f7-icons">chevron_left</i>
					</a>
				</div>

				<div class="center sliding">
					Add monitoring
				</div>
				
				<div class="right">
					<a href="#" data-panel="left" class="link icon-only open-panel">
						<i class="icon icon-bars"></i>
					</a>
				</div>
				
			</div>

		</div>

		<div class="page-content app-form">

			<div class="content-block">

				<div class="buttons-row">

					<a href="#monitoring-tab-1" class="tab-link active button">Info</a>
					
					<a href="#monitoring-tab-2" class="tab-link button">Conclude</a>

				</div>

			</div>

			<div class="tabs">

				<div id="monitoring-tab-1" class="tab active app-form">

					<div class="list-block no-margin">

						<ul>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Area
										</div>

										<div class="item-input">
											<select id="monitor-area">
												<option value="">- Select -</option>
											</select>
										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Tree target met?
										</div>

										<div class="item-input">
											<select id="tree-target-met">
												<option value="">- Select -</option>
												<option value="1">Yes</option>
												<option value="0">No</option>
											</select>
										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Correct areas planted ?
										</div>

										<div class="item-input">
											<select id="correct-areas-planted">
												<option value="">- Select -</option>
												<option value="1">Yes</option>
												<option value="0">No</option>
											</select>
										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Correct tree species planted?

											<div class="item-input">

												<select id="correect-tree-species-planted">
													<option> -- Select -- </option>
													<option value="1">Yes</option>
													<option value="0">No</option>
												</select>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Main corrective action

											<div class="item-input">

												<select id="main-corrective-action">
													<option> -- Select -- </option>
												</select>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Date taken

											<div class="item-input">
												<input type="date" id="date-taken" />

											</div>

										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Seedling sources

											<div class="item-input">
												<input type="text" id="seedling-sources" />

											</div>

										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Number of seeds

											<div class="item-input">
												<input type="text" id="number-of-seeds" />

											</div>

										</div>

									</div>

								</div>

							</li>

						</ul>

					</div>

				</div>

				<div id="monitoring-tab-2" class="tab  app-form">

					<div class="list-block no-margin">

						<ul>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Comments

											<div class="item-input">
												<textarea id="comments" rows="5" ></textarea>

											</div>

										</div>

									</div>

								</div>

							</li>

							<li>

								<div class="item-content">

									<div class="item-inner">

										<div class="item-title label">
											Does producer qualify?

											<div class="item-input">
												<select id="does-producer-qualify">
													<option> -- Select -- </option>
													<option value="1"> Yes </option>
													<option value="0"> No </option>
												</select>

											</div>

										</div>

									</div>

								</div>

							</li>
						</ul>

					</div>

					<div class="content-block">

						<a href="javascript:void(0);" id="save-monitoring" class="button form-button button-fill button-raised">
							Save Information
						</a>

					</div>
				</div>


			</div>


		</div>

	</div>

</div>
